:root {
  --primary-color: #1952e1;
  --primary-color--hover: #1649ca;
  --primary-color--active: #2e3e6e;

  --text-color: #1a1a1a;
  --text-color--medium: #33373c;
  --text-color--light: #63666e;
  --text-color--disabled: #9a9da4;
  --text-color--accent: #ffffff;

  --background-color: #f3f4f9;
  --background-color--light: #f8f8fb;
  --background-color--accent: #ffffff;

  --border-radius: 4px;
  --border-color: #9a9da4;
  --border-color--light: #e2e4ea;

  --transition-time: 0.2s;
}
